body {
    background-color: black;
}

h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 3px;
}

input {
    height: 40px;
    width: 300px;
}

button {
    height: 40px;
    font-weight: bold;
}

div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;   
}

#formDiv {
    margin-bottom: 20px;
    width: 100%;
}

#gifPool img{
    margin-top: 10px;
}